<footer class="footer">
  <p>Copyright © 2024 <a href="https://home.cern">CERN</a> for the benefit of the <a href="https://atlas.cern">ATLAS Collaboration</a>
  <p>Created with <a href="https://antora.org">Antora</a>
</footer>
